.resume-download-link {
    color: rgb(123, 123, 253);
}

.resume-download-link:hover {
    color: rgb(73, 73, 255);
    transition: 0.15s;
}

.top-image-resume {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 0% 50%;
}